<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>
     <add name ="sql" connectionString="server=.;uid=sa;pwd=123;database=RPracticeDB"/>
   </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ModelFilePath" value="C:\Users\adrian\Desktop"/>
    <add key="DllSetting" value="P01.Livraries.Service.BaseService,P01.Livraries.FirstHomework.Service"/>
  </appSettings>
</configuration>