<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
  <starup>
    <supportedRuntime version="v4.0" sku=".NETCore,Version=v3.1" />
  </starup>
  <connectionStrings>
      <add name ="myCustomConfig" connectionString="server=netcrmau;uid=dev;pwd='';database=Backup" />
      <add name ="homedb" connectionString="server=.;uid=sa;pwd=123;database=RPracticeDB"/>
      <!--"System.Data.SqlClient"-->
  </connectionStrings>
</configuration>